<div class="col-sm-12 @CssClass" style="@Style">
    <div class="card text-white bg-@BgClass mb-1 align-content-sm-between">
        <div class="card-header p-0 text-center">
            <h4>@Title</h4>
        </div>
        <div class="card-body bg-white text-dark mb-0">
            @ChildContent
        </div>
    </div>
</div>