.card-body {
    padding-top: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 0;
}

.card-title {
    margin-bottom: .5rem;
}

.card-header {
    margin-left: .3rem;
}

.card {
    margin-top: 0;
}
