@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

@code
{
    [Inject]
    public AlertService AlertService { get; set; }

    protected override void OnInitialized()
    {
        AlertService.AddMessage(new Alert("Its works!",AlertType.Success));
    }
}