@page "/role/index"
@layout MainLayout
@attribute [Authorize(Roles="SuperAdmin")]

<Title Value="Role-index"></Title>

<Card Title="List of Roles">
    @if (!spinnerOnOff)
    {
        @*Top navigation section above the tablegrid*@
        <div class="d-sm-flex d-flex flex-wrap">
            <div>
                <Button ButtonText="Add New"
                    CssClass="btn-outline-info"
                    IconClass="oi-plus"
                    LinkString="/role/create" />
                
            </div>
            @if (PagingParameter.TotalPages != 0)
            {
                <div class="ml-auto p-0 mb-2 icon-container">
                    <Searchbox OnSearchTexChanged="OnSearchTexChanged" />
                </div>
            }
        </div>
    }
    @*Tabel display data form generic type Tablecomponent*@
    <Table Items="roleModels"
           ColsToExcludeCSV="Id"
           CssClass="table-striped text-center align-self-start"
           ShowHideSpinner="spinnerOnOff"
           RecordCount="PagingParameter.TotalPages"
           PageUrls="urls"
           OnClickEvnt="DeleteAsync" />

    @if (PagingParameter.TotalPages != 0)
    {
        @*Buttom of the table pagination link using PaginationComponent*@
        <PageLink CurrentPage="PagingParameter.CurrentPage"
                SelectedPage="SelectedPage"
                TotalPage="PagingParameter.TotalPages" />
    }

</Card>