
<AuthorizeView>
    <Authorized>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="Identity/Account/Manage" class="nav-link text-light">
                    <img src="@imgSrc" width="30" height="30" class="rounded-circle mr-2 hide-icon" />
                    Hello, @name !
                </a>
            </li>
            <li class="nav-item">
                <a href="Identity/Account/Logout" class="nav-link text-light">Log out</a>
            </li>
        </ul>
    </Authorized>
    <NotAuthorized>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="Identity/Account/Register" class="nav-link text-light">Register</a>
            </li>
            <li class="nav-item">
                <a href="Identity/Account/Login" class="nav-link text-light">Log in</a>
            </li>
        </ul>
    </NotAuthorized>
</AuthorizeView>

