
<AuthorizeView>
    <Authorized>
        <li class="nav-link hide-icon">
            <NavLink class="nav-link text-light " href="Identity/Account/Manage">
                Hello, @name !
            </NavLink>
        </li>
        <li class="nav-link hide-icon">
            <NavLink href="Identity/Account/Logout" class="nav-link text-light">Log out</NavLink>
        </li>
    </Authorized>
</AuthorizeView>






