.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1;
    font-size: 14px;
}

.sidebar {
    background-color: #08081b;
}

.top-row {
    background-color: #413e3e;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row ::deep a, .top-row .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth) {
        display: none;
    }

    .top-row.auth {
        justify-content: space-between;
    }

    .top-row a, .top-row .btn-link {
        margin-left: 0;
    }

    .top-nav {
        display: none !important;
    }
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
        position: sticky;
    }

    .sidebar {
        width: 250px;
        min-height: calc(100vh - 30px);
        max-height: auto;
        position: sticky;
        top: 0;
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-nav {
        position: sticky;
        top: 0;
        z-index: 2;
    }

    .main > div {
        padding-left: 0.09rem !important;
        padding-right: 0.09rem !important;
    }
}

.top-nav {
    background-color: #413e3e;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-start;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-nav > div {
        text-decoration: none;
        margin-left: auto;
        display: flex;
        justify-content: end;
        padding-left: 2rem;
    }
