<AuthorizeView>
    <Authorized>
        <a href="Identity/Account/Manage" class="nav-link text-light">
            <img src="@imgSrc" width="30" height="30" class="rounded-circle mr-2 hide-icon" />
            Hello, @name !
        </a>
        <a href="Identity/Account/Logout" class="nav-link text-light">Log out</a>
    </Authorized>
</AuthorizeView>