<AuthorizeView>
    <Authorized>
        <li class="nav-item px-3 hide-icon">
            <NavLink class="nav-link text-white" href="Identity/Account/Manage">
                Hello, @name !
            </NavLink>
        </li>
        <li class="nav-item px-3 hide-icon">
            <NavLink href="Identity/Account/Logout" class="nav-link text-white">
                Log out
            </NavLink>
        </li>
    </Authorized>
</AuthorizeView>






